.app {
  padding-bottom: 20px;
}

.title-container {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  margin: 70px !important;
}

p {
  margin: 8px !important;
}

.button {
  margin: 20px !important;
}

.centered-button {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  margin: 30px !important;
}

.form-container {
  width: 60%;
  position: relative;
  margin-left: 20%;
}

.field {
  margin-bottom: 20px !important;
}
