.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.button {
  margin: 0px 30px;
}

.title-container {
  display: inline-block;
  vertical-align: top;
}

.container-cool {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.actions-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
