.camera {
  width: 8%;
  margin: 0 auto 30px auto !important;
}

.upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-wrapper button {
  border-radius: 8px;
  font-size: 20px;
}

.upload-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}