.hero {
  background-image: url("https://images.unsplash.com/photo-1561777206-e5519697ec23?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  border-bottom: 7px solid goldenrod;
}

.title-special {
  font-size: 4.2em !important;
}

.home-hero-nav-bar {
  background-color: red;
}
