.navbar {
  padding: 10px;
  border-bottom: 2px solid #cccc;
}

.navbar-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin: 0 10px !important;
}

.profile-pic-container {
  border: 1px solid;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width:100% !important;
}
