.navbar {
  padding: 10px;
  border-bottom: 2px solid #cccc;
}

.navbar-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin: 0 10px !important;
}
