.search-bar {
  width: 60% !important;
  display: flex !important;
  align-items: center !important;
}

.rachada-tile-container {
  padding: 0 20px;
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
  flex-wrap: wrap;
}

.rachada-tile {
  margin: 10px !important;
}
